<!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                {{#each lista as |item|}}
                    <li>
                        {{#link-to 'inicio.vehiculo' item.id }}
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        {{item.attributes.v_nombre}}
                        {{/link-to}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </nav>
<!-- /. NAV SIDE  -->
{{yield}}
