<!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                {{#each lista as |item|}}
                    <li>
                        {{#link-to 'inicio.vehiculo' item.v_id }}<i class="fa fa-sign-in" aria-hidden="true"></i>
 {{item.v_nombre}} - {{item.v_conductor}} {{/link-to}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </nav>
<!-- /. NAV SIDE  -->
{{yield}}
