<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="card">

      <div class="card-image">



 {{g-maps name="my-map" lat=model.lat lng=model.lng zoom=model.zoom markers=model.markers polylines=model.polylines}}


      </div>
    </div>
  </div>
</div>
{{outlet}}
