<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-action">
          <b>Mapa</b>
        </div>
      <div class="card-image">



 {{g-maps name="my-map" lat=model.lat lng=model.lng zoom=model.zoom}}


      </div>
    </div>
  </div>
</div>
{{outlet}}
