<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-action">
          <b>Listado de Movimentos </b>
        </div>
      <div class="card-image">
        <ul class="collection">
          {{#each model.data as |movimientoUnit|}}
            {{movimiento-simple movimiento=movimientoUnit.attributes }}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
{{outlet}}

{{outlet}}
