<div id="page-wrapper">
	<div class="header">
    <h1 class="page-header">Vehiculos</h1>
	</div>
  <div id="page-inner">


		{{outlet}}
            <!-- /. ROW  -->
		<div id="menu-fixed-red" class="fixed-action-btn horizontal click-to-toggle">
    <a {{ action "togleElements" }} class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>

			<li>
				{{#link-to 'inicio.vehiculo.mapa' model.data.id class="btn-floating red"}}
				<i class="fa fa-map fa-fw"></i> Mapa
				{{/link-to}}
			</li>
			<li>
				{{#link-to 'inicio.vehiculo.movimiento' model.data.id class="btn-floating blue"}}
				<i class="fa fa-calendar fa-fw"></i> Movimientos
				{{/link-to}}
			</li>
			<li>
				{{#link-to 'inicio.vehiculo.detalle' model.data.id class="btn-floating green"}}
				<i class="fa fa-id-card-o fa-fw"></i> Detalle
				{{/link-to}}
			</li>
    </ul>
  </div>
	<footer><p>All right reserved. Template by: <a href="https://webthemez.com/admin-template/">WebThemez.com</a></p></footer>
  </div>
  <!-- /. PAGE INNER  -->
</div>
