<div id="page-inner">
			 <div class="row">
			 <div class="col-lg-12">
			 <div class="card">
             <div class="card-action">Ingreso al Sistema</div>
             <div class="card-content">
                <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                    <input placeholder="Placeholder" id="user_name" type="text" class="validate">
                    <label for="user_name">Usuario</label>
                    </div>
                    <div class="input-field col s6">
                    <input id="user_pass"  type="password" class="validate">
                     <label for="user_pass">Contraseña</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <input disabled="" value="I am not editable" id="disabled" type="text" class="validate">
                    <label for="disabled">Disabled</label>
                    </div>
                </div>
                </form>
	        <div class="clearBoth"></div>
         </div>
    </div>
 </div>
 </div>
  			<footer><p>All right reserved. <a href="#">BPSISTEMAS.com</a></p></footer>
			</div>
{{outlet}}
